form#portForm {
    margin-top: 3%;
    margin-left: 12%;
}

button.portButton {
    float: right;
    vertical-align: bottom;
}

button#registerInspection {
    margin-left: 15px;
}

div#damagesContainer {
    background-color: white;
    min-height: 150px;
    text-align: center;
}

input#descriptionTxt {
    min-width: 350px;
}

input.damageInput {
    margin-right: 20px;
}

h3#addDamage {
    font-weight: bold;
}