html, body, .container-table {
    height: 100%;
}

body {
    background-color: steelblue;    
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}