USE [VTSystemDatabase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Damages]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Damages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Inspection_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Damages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[VehicleVIN] [nvarchar](max) NULL,
	[Location_Id] [int] NULL,
	[ResponsibleUser_Id] [int] NULL,
	[ProcessData_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Inspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lots]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lots](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[AssociatedTransport_Id] [int] NULL,
	[Creator_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Lots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Arrival_Id] [int] NULL,
	[Departure_Id] [int] NULL,
	[ResponsibleUser_Id] [int] NULL,
	[ProcessData_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Movements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessDatas]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentStage] [int] NOT NULL,
	[LastDateTimeToValidate] [datetime] NULL,
	[PortLot_Id] [uniqueidentifier] NULL,
	[TransportData_Id] [int] NULL,
	[YardCurrentLocation_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ProcessDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subzones]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subzones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Capacity] [int] NOT NULL,
	[Container_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Subzones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transports]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Transporter_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Transports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WasRemoved] [bit] NOT NULL,
	[Role] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Year] [smallint] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[VIN] [nvarchar](max) NULL,
	[Subzone_Id] [int] NULL,
	[Lot_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 09-Oct-17 8:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Zones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inspections] ON 

INSERT [dbo].[Inspections] ([Id], [DateTime], [VehicleVIN], [Location_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (1, CAST(N'2013-10-21T13:28:06.420' AS DateTime), N'AAAAAAAAAAAAAAAAA', 5, 1, 1)
INSERT [dbo].[Inspections] ([Id], [DateTime], [VehicleVIN], [Location_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (2, CAST(N'2013-10-21T13:28:06.420' AS DateTime), N'CCCCCCCCCCCCCCCCC', 5, 1, 3)
INSERT [dbo].[Inspections] ([Id], [DateTime], [VehicleVIN], [Location_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (3, CAST(N'2013-10-21T13:28:06.420' AS DateTime), N'AAAAAAAAAAAAAAAAA', 9, 1, 1)
SET IDENTITY_INSERT [dbo].[Inspections] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Type], [Name]) VALUES (1, 0, N'Puerto de Montevideo')
INSERT [dbo].[Locations] ([Id], [Type], [Name]) VALUES (2, 0, N'Puerto de Punta del Este')
INSERT [dbo].[Locations] ([Id], [Type], [Name]) VALUES (3, 0, N'El puertito')
SET IDENTITY_INSERT [dbo].[Locations] OFF
INSERT [dbo].[Lots] ([Id], [Name], [Description], [AssociatedTransport_Id], [Creator_Id]) VALUES (N'09cd71ea-1f32-4045-a30a-34bf8eacaacb', N'El lote 2', N'Muy buen lote', NULL, 1)
INSERT [dbo].[Lots] ([Id], [Name], [Description], [AssociatedTransport_Id], [Creator_Id]) VALUES (N'e326627c-5874-4393-9c2c-a9a41b632162', N'El lote', N'Muy buen lote', 1, 1)
SET IDENTITY_INSERT [dbo].[Movements] ON 

INSERT [dbo].[Movements] ([Id], [DateTime], [Arrival_Id], [Departure_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (1, CAST(N'2017-10-08T14:30:19.000' AS DateTime), 1, NULL, 1, 1)
INSERT [dbo].[Movements] ([Id], [DateTime], [Arrival_Id], [Departure_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (2, CAST(N'2017-10-08T14:31:19.000' AS DateTime), 2, 1, 1, 1)
INSERT [dbo].[Movements] ([Id], [DateTime], [Arrival_Id], [Departure_Id], [ResponsibleUser_Id], [ProcessData_Id]) VALUES (3, CAST(N'2017-10-08T14:32:19.000' AS DateTime), 3, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Movements] OFF
SET IDENTITY_INSERT [dbo].[ProcessDatas] ON 

INSERT [dbo].[ProcessDatas] ([Id], [CurrentStage], [LastDateTimeToValidate], [PortLot_Id], [TransportData_Id], [YardCurrentLocation_Id]) VALUES (1, 2, CAST(N'2017-10-09T19:32:19.000' AS DateTime), N'e326627c-5874-4393-9c2c-a9a41b632162', 1, 3)
INSERT [dbo].[ProcessDatas] ([Id], [CurrentStage], [LastDateTimeToValidate], [PortLot_Id], [TransportData_Id], [YardCurrentLocation_Id]) VALUES (2, 0, NULL, N'09cd71ea-1f32-4045-a30a-34bf8eacaacb', NULL, NULL)
INSERT [dbo].[ProcessDatas] ([Id], [CurrentStage], [LastDateTimeToValidate], [PortLot_Id], [TransportData_Id], [YardCurrentLocation_Id]) VALUES (3, 2, CAST(N'2017-10-08T14:04:19.000' AS DateTime), N'e326627c-5874-4393-9c2c-a9a41b632162', 1, NULL)
SET IDENTITY_INSERT [dbo].[ProcessDatas] OFF
SET IDENTITY_INSERT [dbo].[Subzones] ON 

INSERT [dbo].[Subzones] ([Id], [Name], [Capacity], [Container_Id]) VALUES (1, N'The Minizone', 21, 1)
INSERT [dbo].[Subzones] ([Id], [Name], [Capacity], [Container_Id]) VALUES (2, N'The Minizone', 21, 2)
INSERT [dbo].[Subzones] ([Id], [Name], [Capacity], [Container_Id]) VALUES (3, N'The Minizone', 21, 3)
SET IDENTITY_INSERT [dbo].[Subzones] OFF
SET IDENTITY_INSERT [dbo].[Transports] ON 

INSERT [dbo].[Transports] ([Id], [StartDateTime], [EndDateTime], [Transporter_Id]) VALUES (1, CAST(N'2017-10-08T14:02:19.000' AS DateTime), CAST(N'2017-10-08T14:04:19.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Transports] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [WasRemoved], [Role], [FirstName], [LastName], [Username], [Password], [PhoneNumber]) VALUES (1, 0, 0, N'The', N'Administrator', N'theAdministrator', N'Victory', N'099424242')
INSERT [dbo].[Users] ([Id], [WasRemoved], [Role], [FirstName], [LastName], [Username], [Password], [PhoneNumber]) VALUES (2, 0, 0, N'Graham', N'Chapman', N'gChapman', N'LemonCurry', N'099424242')
INSERT [dbo].[Users] ([Id], [WasRemoved], [Role], [FirstName], [LastName], [Username], [Password], [PhoneNumber]) VALUES (3, 0, 1, N'John', N'Cleese', N'jCleese', N'Elderberries', N'099212121')
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Vehicles] ([Id], [Type], [Brand], [Model], [Year], [Color], [VIN], [Subzone_Id], [Lot_Id]) VALUES (1, 0, N'A very original brand', N'Car A', 1995, N'Blue', N'AAAAAAAAAAAAAAAAA', NULL, N'e326627c-5874-4393-9c2c-a9a41b632162')
INSERT [dbo].[Vehicles] ([Id], [Type], [Brand], [Model], [Year], [Color], [VIN], [Subzone_Id], [Lot_Id]) VALUES (2, 2, N'Some other brand', N'SUV B', 2009, N'Purple', N'BBBBBBBBBBBBBBBBB', NULL, N'09cd71ea-1f32-4045-a30a-34bf8eacaacb')
INSERT [dbo].[Vehicles] ([Id], [Type], [Brand], [Model], [Year], [Color], [VIN], [Subzone_Id], [Lot_Id]) VALUES (3, 2, N'A third brand', N'TRUCK C', 2009, N'Purple', N'CCCCCCCCCCCCCCCCC', NULL, N'e326627c-5874-4393-9c2c-a9a41b632162')
SET IDENTITY_INSERT [dbo].[Zones] ON 

INSERT [dbo].[Zones] ([Id], [Name], [Capacity]) VALUES (1, N'Zona A', 42)
INSERT [dbo].[Zones] ([Id], [Name], [Capacity]) VALUES (2, N'Zona B', 42)
INSERT [dbo].[Zones] ([Id], [Name], [Capacity]) VALUES (3, N'Zona C', 21)
SET IDENTITY_INSERT [dbo].[Zones] OFF
ALTER TABLE [dbo].[Damages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Damages_dbo.Inspections_Inspection_Id] FOREIGN KEY([Inspection_Id])
REFERENCES [dbo].[Inspections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Damages] CHECK CONSTRAINT [FK_dbo.Damages_dbo.Inspections_Inspection_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.Locations_Location_Id] FOREIGN KEY([Location_Id])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.Locations_Location_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.ProcessDatas_ProcessData_Id] FOREIGN KEY([ProcessData_Id])
REFERENCES [dbo].[ProcessDatas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.ProcessDatas_ProcessData_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.Users_ResponsibleUser_Id] FOREIGN KEY([ResponsibleUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.Users_ResponsibleUser_Id]
GO
ALTER TABLE [dbo].[Lots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lots_dbo.Transports_AssociatedTransport_Id] FOREIGN KEY([AssociatedTransport_Id])
REFERENCES [dbo].[Transports] ([Id])
GO
ALTER TABLE [dbo].[Lots] CHECK CONSTRAINT [FK_dbo.Lots_dbo.Transports_AssociatedTransport_Id]
GO
ALTER TABLE [dbo].[Lots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lots_dbo.Users_Creator_Id] FOREIGN KEY([Creator_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lots] CHECK CONSTRAINT [FK_dbo.Lots_dbo.Users_Creator_Id]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movements_dbo.ProcessDatas_ProcessData_Id] FOREIGN KEY([ProcessData_Id])
REFERENCES [dbo].[ProcessDatas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_dbo.Movements_dbo.ProcessDatas_ProcessData_Id]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movements_dbo.Subzones_Arrival_Id] FOREIGN KEY([Arrival_Id])
REFERENCES [dbo].[Subzones] ([Id])
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_dbo.Movements_dbo.Subzones_Arrival_Id]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movements_dbo.Subzones_Departure_Id] FOREIGN KEY([Departure_Id])
REFERENCES [dbo].[Subzones] ([Id])
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_dbo.Movements_dbo.Subzones_Departure_Id]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movements_dbo.Users_ResponsibleUser_Id] FOREIGN KEY([ResponsibleUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Movements] CHECK CONSTRAINT [FK_dbo.Movements_dbo.Users_ResponsibleUser_Id]
GO
ALTER TABLE [dbo].[ProcessDatas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessDatas_dbo.Lots_PortLot_Id] FOREIGN KEY([PortLot_Id])
REFERENCES [dbo].[Lots] ([Id])
GO
ALTER TABLE [dbo].[ProcessDatas] CHECK CONSTRAINT [FK_dbo.ProcessDatas_dbo.Lots_PortLot_Id]
GO
ALTER TABLE [dbo].[ProcessDatas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessDatas_dbo.Subzones_YardCurrentLocation_Id] FOREIGN KEY([YardCurrentLocation_Id])
REFERENCES [dbo].[Subzones] ([Id])
GO
ALTER TABLE [dbo].[ProcessDatas] CHECK CONSTRAINT [FK_dbo.ProcessDatas_dbo.Subzones_YardCurrentLocation_Id]
GO
ALTER TABLE [dbo].[ProcessDatas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessDatas_dbo.Transports_TransportData_Id] FOREIGN KEY([TransportData_Id])
REFERENCES [dbo].[Transports] ([Id])
GO
ALTER TABLE [dbo].[ProcessDatas] CHECK CONSTRAINT [FK_dbo.ProcessDatas_dbo.Transports_TransportData_Id]
GO
ALTER TABLE [dbo].[Subzones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subzones_dbo.Zones_Container_Id] FOREIGN KEY([Container_Id])
REFERENCES [dbo].[Zones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subzones] CHECK CONSTRAINT [FK_dbo.Subzones_dbo.Zones_Container_Id]
GO
ALTER TABLE [dbo].[Transports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transports_dbo.Users_Transporter_Id] FOREIGN KEY([Transporter_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transports] CHECK CONSTRAINT [FK_dbo.Transports_dbo.Users_Transporter_Id]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Lots_Lot_Id] FOREIGN KEY([Lot_Id])
REFERENCES [dbo].[Lots] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Lots_Lot_Id]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.ProcessDatas_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[ProcessDatas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.ProcessDatas_Id]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Subzones_Subzone_Id] FOREIGN KEY([Subzone_Id])
REFERENCES [dbo].[Subzones] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Subzones_Subzone_Id]
GO
