<div class="header">
    <br><br>
    <h2 class="contentsTitle">Registrar movimiento</h2>
</div><br><br>
<div class="container">
    <div class="row" [hidden]="subzones.length == 0 || vehicles.length == 0" id="contentsContainer">
        <form class="form-horizontal col-lg-10" (ngSubmit)="registerMovement()" #movementForm="ngForm" name="movementForm" role="form" id="movementForm">
            <div class="form-group">
                <label class="control-label col-lg-3" for="vehicleSelect">Vehículo:</label>
                <div class="col-lg-7">
                    <select class="form-control" [(ngModel)]="selectedVehicleVIN" required name="vehicleSelect" id="vehicleSelect">
                        <option *ngFor = 'let aVehicle of vehicles' [ngValue]="aVehicle.vin">{{aVehicle.vin}}</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <label class="control-label col-lg-3" for="arrivalSelect">Subzona de llegada:</label>
                <div class="col-lg-7">
                    <select class="form-control" [(ngModel)]="arrivalId" required name="arrivalSelect" id="arrivalSelect">
                        <option *ngFor = 'let aSubzone of subzones' [ngValue]="aSubzone.id">{{aSubzone.containerName}}/{{aSubzone.name}}</option>
                    </select>
                </div>
            </div>
            <br><br><br><br><br><br>
            <button type="submit" class="btn btn-lg btn-success changeBtn" [disabled]="movementForm.invalid" id="registerMovementBtn">Registrar movimiento</button>
        </form>
    </div>
</div>
<div [hidden]="subzones.length > 0 && vehicles.length > 0" id="noContentsContainer">
    <br><br><br><br><br>
    <h3>No es posible registrar movimientos con los datos ingresados en el sistema.</h3>
</div>