<div class="header">
  <br><br>
  <h2 class="contentsTitle">Registrar movimiento</h2>
</div>
<div [hidden]="!subzones.length && !vehicles.length" id="contentsContainer">
  <br><br>
  <table>
      <thead>
          <tr>
              <th>Vehículo:</th>
              <th>Subzona llegada:</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td> 
                <select #vehicleSelect>
                  <option *ngFor = 'let aVehicle of vehicles' [ngValue] = "aVehicle.vin">
                      {{aVehicle.vin}}
                  </option>
                </select>
              </td>
              <td> 
                  <select #arrivalSelect>
                      <option *ngFor = 'let aSubzone of subzones' [ngValue] = "aSubzone.id">
                          {{aSubzone.name}}
                      </option>
                    </select>
              </td>
          </tr>
      </tbody>
  </table>
  <br><br>
  <button type="button" class="btn btn-lg btn-success changeBtn" (click)='registerMovement(vehicleSelect.value, arrivalSelect.value)' id="registerMovementBtn">Registrar movimiento</button>
</div>
<div [hidden]="subzones.length || vehicles.length" id="noContentsContainer">
  <br><br><br><br><br>
  <h3>Sin datos a mostrar.</h3>
</div>